.container {
  width: @mobile-width;
  padding: 0;
  margin: 0 auto;
  background-color: @greenbg;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 10px 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 15px 50px;
  }
}
