.nav__list {
  .list-no();
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

}

.nav__link {
  text-decoration: none;
  display: block;
  width: max-content;
  // padding: 7px 25px;
}