.nav__list {
  .list-no();
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  text-transform: uppercase;
}

.nav__link {
  color: @yellow;
  text-decoration: none;
  display: block;
  width: max-content;
  padding: 10px 20px;
}