// Шрифты
@font-title: "Oswald", "Arial", sans-serif;
@font-text: "Arial", sans-serif;

// // Размеры
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1300px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// Цвета
@greenl: #cce8eb;
@greend: #2f8489;
@pinkd: #a71b53;
@green: #4e5c3c;
@yellow: #eeeddd;
@greenbg: #d8ecee;

// @bg-photo: #65a93c;

// // Цвет иконок
// @icon: #666666;
